/*====================================================
OVERALL CSS 
=====================================================*/
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&family=Open+Sans&display=swap');

:root {
    --white: #1d1d1d;
    --mainPurple: 	#8C52FF;
    /* --mainWhite: #F0F3F5; */
    --mainWhite: #EFE9F4;
    --mainBlack: #040F16;
}  

:root {
    --body: #0e0e0e;
    /* INTRO */
    --introContainer: var(--white);
    --titleGowtham: var(--white);
    --titleOther: var(--white);
    --aboutTextColor: var(--white);
    --sideText: var(--white);
    --scrollArrow: var(--white);
    /* NAV */
    --NavColor: var(--white);
    --aboutTextColor: var(--white);
    /* PORTFOLIO */
    --portfolioBG: #040403;
    --portfolioGallery: rgb(20, 20, 20);
    --portfolioGalleryHover: rgba(255, 255, 255, 0.4);
}


* {
    box-sizing: border-box;
    transition: all ease-in-out 100ms;
}

html {
    height: -webkit-fill-available;
}

body,html {
    text-align: center;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    max-width: 100vw;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-x: hidden;
	background-color: var(--body);
	color: var(--white);
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a{
	text-decoration: none;
	color: var(--white);
}

ul{
	list-style: none;
}

.container-main {
    height: 100vh;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.grid-wrapper {
    margin: 0 auto;
    max-width: 1520px;
}

.container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container-inner {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 96%;
}


/*====================================================
NAVIGATION
=====================================================*/
#paper-back {
    width: 100%;
    height: 100vh;
    background-color: var(--mainPurple);
    position: fixed;
    top: 0;
    left: 0;
    font-size: 33px;
  }
  #paper-back nav {
    padding: 120px 34px;
    position: fixed;
  }
  #paper-back nav a {
    display: block;
    margin-bottom: 25px;
    text-decoration: none;
    color: var(--white);
    text-align: left;
  }

  #paper-back nav a:hover,
  #paper-back nav a:focus {
      color: black;
  }

  
  #paper-window {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
  }
  #paper-window.tilt {
    overflow: hidden;
    pointer-events: none;
  }
  #paper-window.tilt #paper-front {
    transform: rotate(10deg) translateZ(0);
  }
  
  #paper-front {
    pointer-events: auto;
    position: relative;
    z-index: 3;
    background-color: var(--mainWhite);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    transform-origin: center 70%;
    transition: all 0.3s ease;
  }
  
  #container section {
    height: 100vh;
    text-align: center;
  }
  /* #container section:first-of-type {
    padding-top: 10vh;
  }
  #container section:first-of-type h1 {
    font-size: 45px;
  } */
  #container section:first-of-type p {
    font-size: 25px;
  }
  @media (max-width: 600px) {
    #container section:first-of-type {
      padding-top: 15vh;
    }
    /* #container section:first-of-type h1 {
      font-size: 30px;
    }
    #container section:first-of-type p {
      font-size: 18px;
    } */
  }
  /* #container section:nth-of-type(2n) {
    background-color: #edf1f5;
  } */
  
  .hamburger {
    position: fixed;
    z-index: 4;
    top: 30px;
    left: 30px;
    width: 45px;
    height: 34px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .hamburger span {
    position: relative;
  }
  .hamburger span, .hamburger span:before, .hamburger span:after {
    display: block;
    width: 45px;
    height: 6px;
    background-color: var(--mainPurple);
    border-radius: 2px;
  }
  .hamburger span:before, .hamburger span:after {
    content: "";
    position: absolute;
  }
  .hamburger span:before {
    bottom: -14px;
  }
  .hamburger span:after {
    bottom: -28px;
  }
  
  .close {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 45px;
    height: 34px;
    cursor: pointer;
  }
  .close:before, .close:after {
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    height: 6px;
    top: 50%;
    background-color: white;
    border-radius: 2px;
  }
  .close:before {
    transform: translateY(-50%) rotate(45deg);
  }
  .close:after {
    transform: translateY(-50%) rotate(-45deg);
  }

/*====================================================
HOME
=====================================================*/
.home {
    height: 100vh;
    width: 100vw;
    background-color: var(--mainWhite);
}

.home-title {
    color: var(--mainPurple);
    font-size: 5em;
    font-weight: 900;
    margin-top: -25vh;
    font-family: 'MuseoModerno', cursive;

}

.home-intro {
    color: black;
    font-size: 2em;
}

/*====================================================
ABOUT US
=====================================================*/
.about-us {
    height: 100vh;
    width: 100vw;
    background-color: var(--mainBlack);
}

.about-us-title {
    color: var(--mainPurple);
    font-size: 5em;
    font-weight: 900;
    margin-top: -15vh;
}

.about-us-intro {
    color: black;
    font-size: 2em;
}